*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;/* làm cho khi cuộn trang smooth hơn*/
}
.text-white{
    color: #fff;
}
.text-center{
    text-align: center !important
    ;
}
.row{
    margin-left: -8px; 
    margin-right: -8px;
}
.row::after{
   content: "";
   display: block; 
   clear: both;
}
.col{
    padding-left: 8px;
    padding-right: 8px;
    float: left;
}
.col-third{
    width: 33.33333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px !important;
}
#main{

}
#header{
    height: 46px;
    background-color:#000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}
#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
}
#nav > li >a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    transition: 0.7s;
    display:inline-block
}
#nav li .subnav{
    display: none;
    
}
#nav li:hover .subnav{
    display: block;
}
#nav .subnav>li:hover>a,
#nav > li:hover > a{
    color: #000;
    background-color: #ccc;
}
#nav .subnav a{
    color: #000;
}

#nav .subnav>li{
    transition: 0.7s;
    width: 100%;
}
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}
#nav .subnav{
    position: absolute;
    background-color: #fff;
}
ul.subnav{
    box-shadow: 0px 0px 8px rgb(0, 0,0.4);
}
/*search*/
#header .moblie-menu-btn{
    position:a;
}
#header .moblie-menu-btn,
#header .search-btn{
    
    padding: 12px 21px;
    float:right;
    cursor: pointer;
    transition: 0.7s;
}

#header .search-btn:hover{
   
    background-color: red;
}
#header .moblie-menu-btn:hover {
    background-color: #ccc;
}
 .moblie-menu-btn:hover .menu-icon{
    color: #000;
}
 .menu-icon,
#header .search-icon{
    color: #fff;
    font-size: 20px;
}
#header .menu-icon{

}

#slider{
    margin-top: 46px;
    padding-top: 50%;
    background-image: url(https://media.idownloadblog.com/wp-content/uploads/2019/09/Apple-Innovation-Event-banner.jpg) ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff !important;
    left: 50%;
    transform: translateX(-50%);
    text-align:center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-decription{
    font-size: 15px;
    margin-top: 30px;
}
/* content */
#content .content-section{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    padding: 65px 0;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-sub-heading
{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.7;
}
#content .about-text{
    margin-top: 25px;
    text-align: justify;
    line-height: 1.6;
}
#content .section-heading {
    float: none;
    text-align: center;
    font-size: 30px;
    font-weight: 500; 
    letter-spacing: 4px;
}

#content .member-name{
    padding: 15px 0;
    font-size: 20px;
    font-weight:500;
}
#content .member-img{
   width: 200px;
   border-radius: 5px;
}
.clear{
    clear: both;
}
/* factory section*/
.branch-section{
    background-image: url('https://th.bing.com/th/id/R.2df6646280d00b8e68e3ad3778adf9f6?rik=0oGN1AYYSM7CTA&pid=ImgRaw&r=0');
}
.list-branch{
    margin-top: 40px;
    background-color: white;
}
.list-branch>li{
    color: #757575;
    list-style: none;
    padding: 15px 15px;
    font-weight: 500;
    font-size: 20px;
    border-bottom: 2px solid #ccc;
}
.list-branch>li:hover{
    background-color: #ccc;
    cursor: pointer;
}
.sout-out{
    background-color: #f44336;
    padding: 3px 4px;
    margin-left: 40px;
}
.list-branch .quantity{
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    float:right;
    line-height: 24px;
    text-align: center;
}
.product-list{

    margin-top: 32px;
}

.product-img{
    width: 100%;
    display: block;
}
.product-img:hover{
    opacity: 0.6;
}
.product-list .content-product{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}
.time-make{
    font-weight: 500;
    font-size: 15px;
    padding-top: 15px;
    opacity: 0.6;
}
.place-dsc{
    margin-top: 15px;
    line-height: 1.6;
}
.place-by-btn{
    padding: 11px 16px;
    text-decoration: none;
    background-color:#000;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
.place-by-btn:hover{
    color: #000;
    background-color: #ccc;
    cursor: pointer;
}
.place-heading{
    padding-bottom: 10px;
}
.pricef{
    
    font-weight: bolder;
    font-size: 15px;
    color: #f44336;
}
.sale-pricef{
    text-decoration-line:line-through ;
    color: #757575;
    font-size: 12px;
    margin-left: 5px;
}
/* đặt hàng*/
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-container{
    background-color: #fff;
    max-width: calc(100% - 32px);
    width: 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadIn ease 0.6s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
}
.modal-icon-heading{
    margin-right: 15px;
}
.modal-close{
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bolder;
    padding: 12px;
    cursor: pointer;
}
.modal-close:hover{
    background-color: #757575;
    opacity: 0.6;
    
}
.modal-body{
    padding: 16px;
}
.modal-label-order{
    display: block;
    font-size: 15px;

}
.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}
.modal-label-order{
    margin-bottom: 12px;
}

#buy-product{
    width: 100%;
    border: none;
    font-size: 15px;
    text-transform: uppercase;
    padding:18px;
    background-color: #009688;
    color: #fff;
    cursor: pointer;

}
#buy-product:hover{
    opacity: 0,8;
    
}
.modal-footer{
    padding :16px;
    text-align: right; 
}
.modal-footer a{
    color: #2196F3;
}
.modal.open{
    display: flex;
}
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
    
}
.contact-content{
    margin-top: 50px;
}
.contact-info{
    font-size: 18px;
    line-height: 1.6;
}
.contact-info i[class="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}
.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
}
.contact-form .form-submit{
    background-color: #000;
    color: #fff;
    border:  1px solid #000;
    padding: 10px 16px;
    float: right;
}