@media (min-width:740px) and (max-width:1023px) {
    
}
@media (max-width:740px) {
    #nav li {
        display: block;
    }
    #header .search-btn{
        display: none;
    }
    #nav{
        display: block;
    }
}